{:highlights [{:id #uuid "6780c5ce-d52b-418a-a9d1-17c68b981732",
               :page 1,
               :position {:bounding {:x1 36,
                                     :y1 370,
                                     :x2 193,
                                     :y2 406,
                                     :width 599,
                                     :height 847.6369872352419},
                          :rects (),
                          :page 1},
               :content {:text "[:span]", :image 1736492493030},
               :properties {:color "green"}}
              {:id #uuid "6780dc8a-3929-4ffa-aa70-0753cc919e94",
               :page 1,
               :position {:bounding {:x1 214.2890625,
                                     :y1 141.4921875,
                                     :x2 277.640625,
                                     :y2 152.4921875,
                                     :width 599,
                                     :height 847.6369872352419},
                          :rects ({:x1 214.2890625,
                                   :y1 141.4921875,
                                   :x2 277.640625,
                                   :y2 152.4921875,
                                   :width 599,
                                   :height 847.6369872352419}),
                          :page 1},
               :content {:text "Flask、Express等"},
               :properties {:color "yellow"}}
              {:id #uuid "6780dca6-00f2-4188-aecc-e810b133534c",
               :page 1,
               :position {:bounding {:x1 127,
                                     :y1 150,
                                     :x2 200,
                                     :y2 164,
                                     :width 694,
                                     :height 982.0702322892452},
                          :rects (),
                          :page 1},
               :content {:text "[:span]", :image 1736498341847},
               :properties {:color "yellow"}}],
 :extra {:page 1}}
