{:highlights [{:id #uuid "687385d4-54f3-48d0-be5b-0c2654b60aba",
               :page 19,
               :position {:bounding {:x1 60.078125,
                                     :y1 137.7265625,
                                     :x2 361.32452392578125,
                                     :y2 768.5,
                                     :width 599,
                                     :height 847.6605042016806},
                          :rects ({:x1 63.25,
                                   :y1 137.7265625,
                                   :x2 124.2578125,
                                   :y2 150.7265625,
                                   :width 599,
                                   :height 847.6605042016806}
                                  {:x1 90.3828125,
                                   :y1 158.671875,
                                   :x2 137.796875,
                                   :y2 171.671875,
                                   :width 599,
                                   :height 847.6605042016806}
                                  {:x1 90.3828125,
                                   :y1 179.6171875,
                                   :x2 137.796875,
                                   :y2 192.6171875,
                                   :width 599,
                                   :height 847.6605042016806}
                                  {:x1 117.4609375,
                                   :y1 200.6484375,
                                   :x2 191.99392700195312,
                                   :y2 213.6484375,
                                   :width 599,
                                   :height 847.6605042016806}
                                  {:x1 90.3828125,
                                   :y1 221.59375,
                                   :x2 97.1796875,
                                   :y2 234.59375,
                                   :width 599,
                                   :height 847.6605042016806}
                                  {:x1 63.25,
                                   :y1 242.5390625,
                                   :x2 70.046875,
                                   :y2 255.5390625,
                                   :width 599,
                                   :height 847.6605042016806}
                                  {:x1 63.25,
                                   :y1 263.5703125,
                                   :x2 313.88702392578125,
                                   :y2 276.5703125,
                                   :width 599,
                                   :height 847.6605042016806}
                                  {:x1 63.25,
                                   :y1 284.515625,
                                   :x2 219.09054565429688,
                                   :y2 297.515625,
                                   :width 599,
                                   :height 847.6605042016806}
                                  {:x1 63.25,
                                   :y1 305.4609375,
                                   :x2 273.26983642578125,
                                   :y2 318.4609375,
                                   :width 599,
                                   :height 847.6605042016806}
                                  {:x1 60.078125,
                                   :y1 390.015625,
                                   :x2 167.33543395996094,
                                   :y2 405.015625,
                                   :width 599,
                                   :height 847.6605042016806}
                                  {:x1 60.078125,
                                   :y1 411.7265625,
                                   :x2 147.01490783691406,
                                   :y2 426.7265625,
                                   :width 599,
                                   :height 847.6605042016806}
                                  {:x1 60.078125,
                                   :y1 433.5234375,
                                   :x2 150.37535095214844,
                                   :y2 448.5234375,
                                   :width 599,
                                   :height 847.6605042016806}
                                  {:x1 60.078125,
                                   :y1 454.546875,
                                   :x2 201.97935485839844,
                                   :y2 469.546875,
                                   :width 599,
                                   :height 847.6605042016806}
                                  {:x1 63.25,
                                   :y1 503.8984375,
                                   :x2 137.796875,
                                   :y2 516.8984375,
                                   :width 599,
                                   :height 847.6605042016806}
                                  {:x1 76.8515625,
                                   :y1 524.84375,
                                   :x2 110.71875,
                                   :y2 537.84375,
                                   :width 599,
                                   :height 847.6605042016806}
                                  {:x1 76.8515625,
                                   :y1 545.875,
                                   :x2 103.953125,
                                   :y2 558.875,
                                   :width 599,
                                   :height 847.6605042016806}
                                  {:x1 90.3828125,
                                   :y1 566.8203125,
                                   :x2 124.2578125,
                                   :y2 579.8203125,
                                   :width 599,
                                   :height 847.6605042016806}
                                  {:x1 90.3828125,
                                   :y1 587.765625,
                                   :x2 124.2578125,
                                   :y2 600.765625,
                                   :width 599,
                                   :height 847.6605042016806}
                                  {:x1 76.8515625,
                                   :y1 608.7109375,
                                   :x2 90.40264129638672,
                                   :y2 621.7109375,
                                   :width 599,
                                   :height 847.6605042016806}
                                  {:x1 63.25,
                                   :y1 629.7421875,
                                   :x2 70.046875,
                                   :y2 642.7421875,
                                   :width 599,
                                   :height 847.6605042016806}
                                  {:x1 63.25,
                                   :y1 650.6875,
                                   :x2 151.328125,
                                   :y2 663.6875,
                                   :width 599,
                                   :height 847.6605042016806}
                                  {:x1 63.25,
                                   :y1 671.6328125,
                                   :x2 151.328125,
                                   :y2 684.6328125,
                                   :width 599,
                                   :height 847.6605042016806}
                                  {:x1 63.25,
                                   :y1 692.6640625,
                                   :x2 164.8671875,
                                   :y2 705.6640625,
                                   :width 599,
                                   :height 847.6605042016806}
                                  {:x1 63.25,
                                   :y1 713.609375,
                                   :x2 164.8671875,
                                   :y2 726.609375,
                                   :width 599,
                                   :height 847.6605042016806}
                                  {:x1 63.25,
                                   :y1 734.5546875,
                                   :x2 178.46875,
                                   :y2 747.5546875,
                                   :width 599,
                                   :height 847.6605042016806}
                                  {:x1 63.25,
                                   :y1 755.5,
                                   :x2 361.32452392578125,
                                   :y2 768.5,
                                   :width 599,
                                   :height 847.6605042016806}),
                          :page 19},
               :content {:text "会忽略 undefined会忽略 symbol不能序列化函数不能解决循环引⽤的对象 let a = { age: 1, jobs: { first: 'FE'}} let b = JSON.parse(JSON.stringify(a)) a.jobs.first = 'native' console.log(b.jobs.first) // FE let obj = { a: 1, b: { c: 2, d: 3,},} obj.c = obj.b obj.e = obj.a obj.b.c = obj.c obj.b.d = obj.b obj.b.e = obj.b.c let newObj = JSON.parse(JSON.stringify(obj))"},
               :properties {:color "red"}}],
 :extra {:page 22}}
